{% extends 'base.html.twig' %}

{% block title %}Fish and Tips - Contact
{% endblock %}

{% block body %}
	<section class="text-center">
		<div class="container">
			<div class="row">
					<div class="offset-md-2 col-md-8 pb-3 card shadow">
						<div class="mt-2 bg-light">
							<h3>Vous avez des questions ? Laissez-nous votre message, nous répondrons rapidement. Tout les champs sont obligatoires.</h3>
						</div>

						{{ form_start(formContact) }}
						<div class=" m-5">
							{{ form_errors(formContact.email) }}
							{{ form_widget(formContact.email,{
                                    label: 'Email'
                                }) }}
						</div>

						<div class="m-5">
							{{ form_widget(formContact.name) }}
						</div>

						<div class="m-5">
							{{ form_widget(formContact.sujet) }}
						</div>

						<div class="m-5">
							{{ form_widget(formContact.message) }}
						</div>

						<div class="m-3">
							<h3>Données personnelles.</h3>
							{{ form_row(formContact.agreeTerms, {
                        label: " J'accepte que mes données personnelles soient conservées par Fish & Tips. Elles ne seront pas cédées ou revendues à des tiers."
                        }) }}
						</div>
						{{ form_end(formContact) }}
					</div>
			</div>
		</div>
		<div class="text-center mt-2 bg-light">
			<h2 class="m-2">Coordonnées</h2>
			<p>
				<strong>Fish & Tips</strong><br>
				1, rue de Openclassroom<br>
				75000 Paris<br>
				France<br>
				Tél.
				<a href="tel:+33600000000">+33 6 00 00 00 00</a>
			</p>
			<div class="m-5">
				<h2 class="text-center mt-3 mb-3">Horaires d’ouverture</h2>
				<p>Du lundi au vendredi, de 9h à 18h, il devrait toujours y avoir quelqu’un pour vous répondre 😉<br>
					Le reste du temps, ça dépend des disponibilités et décalages horaires.</p>
			</div>
		</div>
	</section>
{% endblock %}


