{% extends 'base.html.twig' %}

{% block title %}Fish and Tips
{% endblock %}

{% block body %}


		<img src="img/peche.jpg">
		<section class="homeheader ">
<div class="col-lg-12 text-center ">
                <h1 class="main-title text-center text-white font-italic">Pêche du carnassier</h1>
                <h2 class="text-center text-white font-italic"> Astuce en tout genre</h2>
            </div>
    <div class="container">
      <div class="d-flex justify-content-center mb-3">
        <div class="col-12 col-sm-6 my-3">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="inputCity" />
            </div>
            <button type="submit" class="btn btn-info btn-block">
              Rechercher
            </button>
          </form>
        </div>
        <div class="col-12 col-sm-6 my-3">
          <div class="box-container">
            <div id="city" class="box"></div>
            <div id="temp" class="box"></div>
            <div id="humidity" class="box"></div>
            <div id="wind" class="box"></div>
          </div>
        </div>
      </div>
    </div>
    

	<div class="container">
		<div class="row">
			{% for post in posts %}
<<<<<<< HEAD
				<div class="col-md-6">
						<img src="https://www.1max2peche.com/wp-content/uploads/2014/03/peche-brochet-bigbait-canne.jpg" class="card-img-top" alt="...">
=======
				<div class="col-md-5">
						<img src="https://via.placeholder.com/150C/O" class="card-img-top" alt="...">
>>>>>>> parent of 33e331e... mise à jour css
						<div class="card-body">
							<h5 class="card-title">{{post.title}}</h5>
							<p class="card-text">{{post.intro}}</p>
							<p> {{post.createdAt | date("d/m/Y")}}</p>
							<a href="{{ path('show_post', { slug: post.slug }) }}" class="btn btn-primary">Lire l'article</a>
						</div>
					</div>

				{% endfor %}
			</div>
		</div>
	{% endblock %}
  {% block javascripts %}
  {{parent()}}
  <script src="js/app.js"></script>
  {% endblock %}



