{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			{% for post in posts %}
				<div class="col-md-3">
						<img src="https://via.placeholder.com/150C/O https://placeholder.com/" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{post.title}}</h5>
							<p class="card-text">{{post.content}}</p>
							<p>{{post.author}} - 
							{{post.createdAt | date("d/m/Y")}}</p>
                      
							<a href="/posts/{{post.id}}" class="btn btn-primary">Lire l'article</a>
						</div>
					</div>

				{% endfor %}
			</div>
		</div>
	{% endblock %}



